{% extends 'mainTemplate.html' %}
{% block title %}Account{% endblock %}


{% block content %}

<div class="container user-card">
    <div class="card-header">
        <h1>{{ user.username }}</h1>
    </div>
    <div class="card-item">
       <p>{{user.email}}</p> 
    </div>
    <div class="card-item">
        <p>{{user.password}}</p>
    </div>
    <div class="file-upload">
        <div class="file-select">
          <input type="file" name="chooseFile" id="chooseFile">
        </div>
    </div>
    <div>
        <a href="{% url 'notizen:userUpload'%}" class="btn btn-action-1 btn-sm rounded-2 mt-4">Upload-Seite</a>
    </div>
</div>


{% endblock %}