{% extends "mainTemplate.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!--Content 1-->
    <section class="py-10 py-md-20 text-center bg-bg-1">
        <div class="container">
            <p data-aos="fade-down" data-aos-delay="0" class="fs-1 mb-4 text-light-2 aos-init aos-animate">
                        Willkommen in der Trexx-App
            </p>
            <h2 class="display-5 mb-6 text-light-1 aos-init aos-animate" data-aos="fade-down" data-aos-delay="150">
                        Hier können Sie Dinge tun, die Sie nie tun wollten.
            </h2>
            <p class="fs-2 remove-br-sm mb-0 text-light-2 aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
                        Die Traxx-App ist ein Gemeinschaftsprojekt von:
                <br>
                <br>A. Nagel, T. Wehrle, S. Schwenzer, A. Bischoff
                <img src="https://designmodo.com/startup/app/smiles.php?icon=smile&amp;search=P2lkPTU1NzUmaW5FZGl0b3I9MQ==&amp;path=L3N0YXJ0dXAvYXBwL3ByZXZpZXcucGhw&amp;e=MTc1MDY4" id="js-get-smile" class="visually-hidden" style="opacity: 0.01;">
                <br>
                <br> geleitet von M. Machat (&lt;- Keinn Marvel-Held, LEIDER)
            </p>
        </div>
    </section>
{% endblock %}